<!-- Override with 'styles', 'content', and/or 'scripts' -->

<!DOCTYPE html>
<html>
<head>
    <title>{{ screen.title }} - Alejandro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">
    {% block styles %}{% endblock %}
</head>
<body{% if body_class %} class="{{ body_class }}"{% endif %}>
    <div class="app-container">
        <div class="content-area">
            <h1>{{ screen.title }}</h1>
                {% block content %}{% endblock %}
        </div>
        
        <div class="footer">
            {% include 'menu.html' %}
        </div>
    </div>

    <script>window.initialSessionId = "{{ session_id }}";</script>
    <script src="{{ url_for('static', filename='js/core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tab_utils.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
